@mixin flex($flex-direction: none, $align-items: none, $justify-content: none, $gap: 0px) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}
